    .ui.breadcrumb a {
      color: grey;
    }

    .ui.breadcrumb .active.section {
      color: white;
    }

.ui.breadcrumb a:hover {
  color: red;
}

.ui.form textarea, input {
  font-size: 1.2rem
}

.ui.form {
  font-size: 1.2rem
}

body {
  font-family: 'Roboto:300', sans-serif;
}

.ui.header {
  font-family: 'Roboto:500', sans-serif;
}

.ui.label{
  font-weight: 300 !important;
}

.thumbnail iframe {
  width: 1440px;
  height: 1100px;

}

.thumbnail {
  position: relative;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail-container {
  width: calc(1440px * 0.25);
  height: calc(1100px * 0.25);
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: 5px solid black;
}

/* .thumbnail iframe {
  opacity: 0;
  transition: all 300ms ease-in-out;
} */
