/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.ui.inverted.segment {
    border-radius: 0px !important;
}

.ui.inverted.button {
    border-radius: 0px !important;
}

.ui.button {
    border-radius: 0px !important;
}

.ui.tiny.modal {
    border-radius: 0px !important;
}

.ui.input {
    border-radius: 0px !important;
}

.opening {
      position: absolute !important;
      padding-right: 28px !important;
    }

    .ui.secondary.menu {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .ui.container {
      width: 100% !important;
    }
    .ui.form textarea:not([rows]){
      height: -webkit-fill-available !important;
      max-height: auto;
    }

    .ui.header {
      margin-top: 0 !important;
    }

    .iframe_case {
      /* padding: 1em; */
      margin-left: 1em;
      margin-right: 1em;
      border: 1px !important;
    }
